body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff9ec;
  color: #5d2a42;
  width: 100%;
}

img {
  border-radius: 1rem;
  max-width: 100%;
}

.header {
  /* width: 100%; */
  background-color: #fb6376;
  padding: 2rem;
  color: #421e2f;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
}

.code-genre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.text-content-code {
  flex: 1;
  align-items: center;
  max-width: 50%;
  align-self: flex-start;
}
.code-image-block {
  border-radius: 1rem;

  flex: 1;
  max-width: 40%;
  overflow-y: auto;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.code-image {
  max-width: 100%;
}

.quote-block {
  background-color: #ffdccc;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  font-style: italic;
  font-size: larger;
  text-align: center;
}

.code-review-image-block {
  justify-self: center;
}
